.car-description {
	display: flex;
	align-items: center;
	&__logo {
		width: 80px;
	}
	&__info {
		display: grid;
		grid-gap: 22px;
		.title {
			font-size: 20px;
			line-height: 15px;
			white-space: nowrap;
		}
		.text {
			line-height: 11px;
			white-space: nowrap;
		}
	}
}
@media screen and (max-width: 1279px) {
	.car-description {
		&__info {
			grid-gap: 20px;
			.title {
				font-size: 18px;
			}
			.text {
				font-size: 15px;
			}
		}
	}
}
@media screen and (max-width: 1023px) {
	.car-description {
		&__logo {
			width: 70px;
		}
		&__info {
			grid-gap: 15px;
			.title {
				font-size: 16px;
			}
			.text {
				font-size: 14px;
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.car-description {
		&__info {
			grid-gap: 13px;
			.title {
				font-size: 15px;
			}
			.text {
				font-size: 13px;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.car-description {
		&__logo {
			width: 80px;
		}
		&__info {
			grid-gap: 15px;
		}
	}
}
@media screen and (max-width: 480px) {
	.car-description__info {
		.title {
			font-size: 18px;
			line-height: 15px;
		}
		.text {
			line-height: 11px;
		}
	}
}

