.menu {
	display: flex;
	flex-direction: column;
	gap: 14px;
	.action {
		gap: .833333vw;
		width: 21.736111vw;
		height: 66px;
		background: #FFF;
		border-radius: 12px;
		padding: 0 1.388889vw;
		&-text {
			font-size: 18px;
		}
		&-count {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			background: #EC3832;
			border-radius: 50%;
			margin-left: auto;
			.text {
				color: #FFF;
				font-size: 10px;
			}
		}
	}
	&-edit {
		justify-content: space-between;
		width: 126px !important;
		height: 44px !important;
		background-color: #EC3832 !important;
		border-radius: 8px !important;
		margin: 0 0 26px auto;
		padding: 0 20px !important;
		.action-text {
			color: #FFF;
			font-size: 14px !important;
		}
	}
	&-link {
		border-top: 1px solid #6F80BA;
		margin-top: 40px;
		padding-top: 26px;
		.action {
			padding: 0 1.111111vw;
			&-text {
				color: #325BEC;
			}
		}
	}
}
@media screen and (max-width: 1439px) {
	.menu {
		.action {
			height: 64px;
		}
	}
}
@media screen and (max-width: 1279px) {
	.menu {
		gap: 12px;
		.action {
			height: 60px;
			&-text {
				font-size: 16px;
			}
		}
		&-edit {
			width: 122px !important;
			height: 40px !important;
			.action-text {
				font-size: 13px !important;
			}
		}
		&-link {
			margin-top: 36px;
			padding-top: 22px;
		}
	}
}
@media screen and (max-width: 1023px) {
	.menu {
		.action {
			height: 56px;
			&-text {
				font-size: 14px;
			}
		}
		&-edit {
			width: 114px !important;
			padding: 0 15px !important;
			.action-text {
				font-size: 12px !important;
			}
		}
		&-link {
			margin-top: 32px;
			padding-top: 22px;
		}
	}
}
@media screen and (max-width: 991px) {
	.menu {
		gap: 10px;
		.action {
			height: 52px;
			&-text {
				font-size: 13px;
			}
		}
		&-edit {
			width: 102px !important;
			height: 36px !important;
			padding: 0 12px !important;
			.action-text {
				font-size: 11px !important;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.menu {
		position: absolute;
		top: 0;
		right: 0;
		.action {
			width: 32.083333vw;
			height: 46px;
			&-text {
				font-size: 11px;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.menu {
		position: static;
		margin-top: 17px !important;
		padding: 0 1.025641vw;
		.action {
			gap: 3.076923vw;
			width: 100%;
			height: 46px;
			padding: 12px 3.846154vw;
			&-text {
				font-size: 18px;
			}
			&:nth-child(4) {
				display: none;
			}
		}
		&-edit {
			width: 145px !important;
			height: 35px !important;
			margin: 0 auto;
			padding: 0 30px !important;
		}
		&-link {
			margin-top: 13px;
			padding-top: 25px;
		}
		.button {
			width: 58.974359vw;
			height: 50px;
			border-radius: 5px !important;
			margin: 15px auto 0;
			&-text {
				font-size: 14px !important;
			}
		}
	}
}
