.branch {
	&-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .3);
		z-index: 4;
	}
	&-content {
		position: fixed;
		top: 20%;
    left: 50%;
		width: 431px;
		background-color: #FFF;
		border-radius: 12px;
		transform: translateX(-50%);
		padding: 9px 22px 23px 13px;
		z-index: 5;
		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			&-text {
				font-size: 15px;
				line-height: 18px;
			}
		}
		&__list {
			margin-left: -4px;
			&-item {
				display: flex;
				flex-direction: column;
				border: 1px solid #FFF;
				border-radius: 5px;
				margin-bottom: 8px;
				padding: 4px 3px 11px;
				.title {
					font-size: 15px;
					line-height: 14px;
					margin-bottom: 3px;
				}
				.description {
					font-size: 14px;
					line-height: 10px;
					margin-top: 10px;
				}
			}
			.active {
				border: 1px solid #EC3832;
				border-radius: 5px;
				&-text {
					line-height: 18px;
				}
			}
		}
		.button {
			width: 172px;
			height: 36px;
			margin: 2px auto;
		}
	}
}
@media screen and (max-width: 480px) {
	.branch {
		&-content {
			top: auto;
			bottom: 0;
			width: 100%;
			background-color: #FFF;
			border-radius: 12px 12px 0 0 ;
			padding: 12px 3.205128vw 0;
			z-index: 5;
			&__header {
				justify-content: flex-end;
				margin-bottom: 6px;
				&-text {
					display: none;
				}
			}
			&__list {
				position: relative;
				margin: 0;
				padding: 9.5px 0 2.5px;
				&::after,
				&::before {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					background-color: #CDD5E9;
				}
				&::before {
					top: 0;
				}
				&::after {
					bottom: 0;
				}
			}
			.button {
				margin: 25px auto;
			}
		}
	}
}